<div *ngIf="showFilterPanel" class="topic">Selected post: {{selectedTitle}}</div>

<div *ngIf="showFilterPanel" class="filters">
  <div class="left">
    <label for="filterText">Filter by title</label>
    <input [(ngModel)]="searchTitle" id="filterText" />
  </div>

  <div class="right">
    <input [checked]="filterPublished" (change)="onCheckboxChange($event)" type="checkbox" id="filterAvailable" />
    <label for="filterAvailable">Only published</label>
  </div>
</div>

<div class="main-container" *ngIf="posts$ | async as posts">
  <app-card (emitTitle)="receivedTitle($event)" *ngFor="let post of posts.slice((currentPage - 1) * postsPerPage, currentPage * postsPerPage)
    | titleFilter: searchTitle
    | publishedFilter: filterPublished"
    [title]="post.title" [description]="post.description"
    [isPublished]="post.isPublished"></app-card>
</div>

<button (click)="previousPage()" [disabled]="currentPage === 1">Previous Page</button>
<button (click)="nextPage()">Next Page</button>
